@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

$primary-color: #482ff7;
$secondary-color: #fc5c9c;
$black: #000000;

body {
  color: $black;
  @apply text-base;
  @apply antialiased;
}

h1 {
  color: $secondary-color;
}

// .btn {
//   @apply inline-block px-24 py-8 rounded text-black;
// }
